main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Hero */

/* Wrapper */
.h-wp {
}

/* Every hero object */
.hero {
    --h-mg: .25rem;
    position: relative;
    margin: var(--h-mg);
    overflow: hidden;

    /* Animations */
    animation-delay: .4s;
    transition: all .2s ease-in-out;
    animation: l-anim;

    /* Colors */
    background-color: var(--h-bg);
    border: .15rem solid var(--h-bg);
}
.hero:hover {
    background-color: var(--always-white);
    /*border-width: 0;
    margin: calc(var(--h-mg) + .2rem);*/
    border-color: var(--always-black);
}

/* Style fonts */
.hero h1, .hero h2, .hero h3, .hero h4 { color: var(--always-black); }
.hero h1 { font-size: 3em; }
.hero h2 { font-size: 1.5em; }
.hero h3 { font-size: 1.2em; }
.hero h4 { font-size: .75em; }

.hero > .hr-c {
    --c-padding: 2rem;
    padding: var(--c-padding);
    height: calc(100% - calc(var(--c-padding) * 2));
    width: calc(100% - calc(var(--c-padding) * 2));
    max-width: calc(100vw - 2rem);
    display: flex;
    align-items: center;
}
.hero > .hr-c > *:first-child {
    margin-top: 0
}
.hero > .hr-c > *:last-child {
    margin-bottom: 0;
}

.hero.v-rd > .hr-c {
    --c-padding: 1rem;
    text-align: center;
}

.hero.hero__l1 { /* Left Row 1 */
    grid-area: l1;
    --h-bg: var(--g-green, forestgreen);
    border-radius: var(--dont-use-this-radius, 999rem);

    height: 26vw;
    width: 52vw;
    min-height: 160px;
    min-width: 320px;
}
.hero.hero__r1 { /* Right Row 1 */
    grid-area: r1;
    --h-bg: var(--g-orange, orange);
    border-radius: var(--funny-radius, 1rem);

    height: 26vw;
    width: 24vw;
    min-height: 146px;
    min-width: 146px;
}
.hero.hero__l2 { /* Left Row 2 */
    grid-area: l2;
    --h-bg: var(--g-red, red);
    border-radius: var(--dont-use-this-radius, 999rem);

    width: 22vw;
    height: 22vw;
    min-height: 146px;
    min-width: 146px;
}
.hero.hero__r2 { /* Right Row 2 */
    grid-area: r2;
    --h-bg: var(--g-blue, steelblue);
    border-radius: var(--funny-radius, 1rem);

    width: 60vw;
}

/* ------Promotion------ */

div.promo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

div.promo > div.p-card {
    width: calc(min(100vw, 450px) - 5rem);
    height: calc(min(100vw, 450px) - 5rem);
    border-radius: var(--funnier-radius, 1rem);
    background-color: var(--flat-bg);
    position: relative;
    padding: 0 1.5rem;

    overflow: hidden;
}
div.promo > div.p-card.c-1 {
    background: linear-gradient(315deg, rgb(24, 154, 191) 0%, #000851 100%);
}
div.promo > div.p-card.c-2 {
    background: linear-gradient(45deg, #4b6cb7 0%, #182848 100%);
}
div.promo > div.p-card.c-3 {
    background: linear-gradient(125deg, #240b36, #c31432);
}
div.promo > div.p-card.c-4 {
    background: linear-gradient(315deg, #eb5757, #000000);
}

div.promo > div.p-card > img {
    height: calc(100% - 100px);
    border-radius: 50%;
}

/* More button */

div.promo > div.p-card > button.ic-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    transition: background-color .2s ease-in-out, opacity .2s ease-in-out, transform .66s cubic-bezier(0.66, 0, 0.2, 1);
    z-index: 10;
}
div.promo > div.p-card.open > button.ic-btn {
    transform: rotate(45deg);
    background-color: var(--opp-bg);
}
body.lm div.promo > div.p-card.open > button.ic-btn > img { filter: invert(0) }
div.promo > div.p-card.open > button.ic-btn > img { filter: invert(1) }

/* Card modal */

div.promo > div.p-card.c-1 > div.p-modal { --pm-bg: var(--g-green) }
div.promo > div.p-card.c-2 > div.p-modal { --pm-bg: var(--g-orange) }
div.promo > div.p-card.c-3 > div.p-modal { --pm-bg: var(--g-red) }
div.promo > div.p-card.c-4 > div.p-modal { --pm-bg: var(--g-blue) }

div.promo > div.p-card > div.p-modal {
    background-color: var(--pm-bg);

    opacity: 0;
    visibility: hidden;
    z-index: 6;
    pointer-events: none;

    padding: 1.5rem;
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;

    transition: opacity .66s .66s cubic-bezier(0.66, 0, 0.2, 1), visibility .66s .66s;
}
div.promo > div.p-card.open > div.p-modal {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Modal text */
div.promo > div.p-card > div.p-modal {
    color: var(--m-bg, #000);
}
div.promo > div.p-card > div.p-modal > div {
    transition: all .66s .66s cubic-bezier(0.66, 0, 0.2, 1);
    opacity: 0;
    transform: translateY(-1.25rem);
}
div.promo > div.p-card > div.p-modal > div > h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

div.promo > div.p-card.open > div.p-modal > div {
    transform: translateY(0);
    opacity: 1;
    transition: all .66s .66s cubic-bezier(0.66, 0, 0.2, 1);
}

/* ------Keyframes------ */
@keyframes l-anim {
    0% {
        background-color: transparent;
        color: transparent;
    }
    60% {
        background-color: transparent;
        color: transparent;
    }
    100% {
        opacity: 1;
    }
}

/* ------Responsiveness------ */
@media screen and (min-width: 600px) {
    .hero.hero__r2 {
        width: 52vw;
        height: 28vw;
    }
    .hero.v-rd > .hr-c {
        --c-padding: 3rem;
    }
    .hero.v-rd.hero__l2 > .hr-c {
        --c-padding: .4rem;
    }
}

@media screen and (min-width: 550px) {
    div.promo {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    div.promo > div.p-card {
        width: calc(min(50vw, 480px) - 5rem);
        height: calc(min(50vw, 480px) - 5rem);
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        min-width: 400px;
        max-height: 44vh;
        --h-mg: .375rem
    }

    .hero.hero__r2 {
        width: 60vw;
        height: 22vw;
        max-height: 40vh;
    }

    .hero.v-rd.hero__l2 > .hr-c {
        --c-padding: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    div.promo > div.p-card {
        padding: .5rem 2rem;
    }

    .hero h1 { font-size: 4em; }
    .hero h2 { font-size: 2em; }
    .hero h3 { font-size: 1.5em; }
    .hero h4 { font-size: 1em; }
}

@media screen and (max-width: 500px) {
    .hero.hero__r1 > .hr-c {
        --c-padding: .75rem;
    }
}

@media screen and (max-width: 400px) {
    /* Smaller margin for small screens */
    .hero.hero__r2 > .hr-c { --c-padding: 1rem; }
    .hero.hero__r2 { width: 80vw; }
}