/* ------Buttons------ */

button, .f-btn {
    /* Make normal elements like <a> look like a button */
    display: inline-block;
    -webkit-tap-highlight-color: transparent;

    border: none;
    outline: none;
    min-height: 2rem;
    border-radius: var(--not-funny-radius);

    background-color: var(--brand);
    color: var(--on-brand);
    transition: background-color .2s ease-in-out, box-shadow .3s ease-in;

    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

    font-size: .8rem;
    line-height: 2.25rem;
    font-weight: 500;
    letter-spacing: .0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Europa Regular", Roboto, Helvetica, sans-serif;
    padding: 0 1rem;
}
button:hover, .f-btn:hover {
    background-color: var(--p-brand);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}
button:active, .f-btn:active { background-color: var(--s-brand); }

/* Icon button */
button.ic-btn {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--m-bg, #555);
    transition: all .2s ease-in-out;
    transition-property: background-color, opacity;
    opacity: .6;

    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
button.ic-btn:hover {
    background-color: var(--flat-bg, #666);
    opacity: 1;
}
button.ic-btn:active { background-color: var(--raised-bg, #888); }

button.ic-btn > img {
    width: 2.2rem;
    height: 2.2rem;
}

/* ------Header------ */
header {
    position: fixed;
    top: -3.4rem;
    left: 0;
    height: 3.4rem;
    z-index: 22;
    width: 100%;

    display: flex;
    align-items: center;
    padding: 0 1.2rem;

    transition: top .3s cubic-bezier(.4, 0, 0, 1);
    background-color: var(--ab-bg, #111);
    backdrop-filter: blur(12px);
    border-radius: 0 0 var(--funny-radius) var(--funny-radius);
}
header.v {
    top: 0;
}

header > * { margin: 0; }

/* A better divider */
.btr-br {
    height: 1px;
    background-color: var(--not-that-opp-bg);
    border-radius: 1px;
}

/* Sensible defaults */

img {
    user-select: none;
    -webkit-user-drag: none;
}


/* ------Footer------ */
footer {
    background-color: var(--flat-bg);
    border-radius: var(--funny-radius) var(--funny-radius) 0 0;
    padding: 1rem;
}
footer > div.fr {
    display: flex;
    flex-wrap: wrap;
    margin: .5rem 0;
}
/* Space filler */
footer > div.fr > div.ff {
    flex-grow: 1;
}
/* Spacing between 2 items */
footer > div.fr > * {
    margin: 0 .5rem 0 0;
}
footer > div.fr > *:last-child {
    margin-right: 0;
}

/* ====== Custom scrollbar ======= */
::-webkit-scrollbar {
    background-color: #fff;
    width: 14px
}

/* Background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-corner {
    background-color: rgb(43, 43, 43);
}

body.light ::-webkit-scrollbar-track, body.light ::-webkit-scrollbar-corner {
    background-color: rgb(223, 223, 223);
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: rgb(107, 107, 107);
    border-radius: 14px;
    border: 3px solid rgb(43, 43, 43);
    transition: all 500ms ease-out;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(149, 149, 149);
}

.light *::-webkit-scrollbar-thumb {
    background-color: rgb(150, 150, 150) !important;
    border: 3px solid rgb(223, 223, 223) !important;
}
.light *::-webkit-scrollbar-thumb:hover {
    background-color: rgb(101, 101, 101) !important;
}
/* ============ */